

.HeroSection_container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.525);
  background-size: cover;
  min-height: 30vh;
}

em {
  font-size: 74px;
  font-weight: 800;
  text-decoration: underline aquamarine;
}
